<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset name="general" label="COM_QUIPU_COMPANY_INFO">
        <field
            name="id"
            type="hidden"
		/>
        <field
            name="company_name"
            type="text"
            label="COM_QUIPU_COMPANY_NAME"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
             
        <field
            name="vatno"
            type="text"
            label="COM_QUIPU_VAT_NO"
            size="40"
            required="true"
            class="inputbox"
            default=""
		/>
        <field
            name="address"
            type="text"
            label="COM_QUIPU_ADDRESS"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>                
        <field
            name="zip"
            type="text"
            label="COM_QUIPU_ZIP_CODE"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>                   
        <field
            name="state"
            type="text"
            label="COM_QUIPU_STATE"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>                   
        <field
            name="phone"
            type="text"
            label="COM_QUIPU_PHONE"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
        <field
            name="email"
            type="text"
            label="COM_QUIPU_EMAIL"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
        <field
            name="web"
            type="text"
            label="COM_QUIPU_WEB_PAGE"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
        <field
            name="logo"
            type="file"
            label="COM_QUIPU_LOGO"
            size="40"
            class="inputbox"
            default=""
            required="false"
		/>
    </fieldset>
    <fieldset name="info" label="COM_QUIPU_DOCUMENTS_FOOTER">
        <field
            name="info"
            type="editor"
            label="COM_QUIPU_DOCUMENTS_FOOTER"
            default=""
		/>
    </fieldset>
    <fieldset name="parameters" label="COM_QUIPU_CONFIG_PARAMETERS">
        <field
            name="seq_invoice"
            type="text"
            label="COM_QUIPU_CONFIG_SEQ_INVOICE"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
        <field
            name="seq_refund"
            type="text"
            label="COM_QUIPU_CONFIG_SEQ_REFUND"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
        <field
            name="seq_order"
            type="text"
            label="COM_QUIPU_CONFIG_SEQ_ORDER"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
        <field
            name="seq_purchaseorder"
            type="text"
            label="COM_QUIPU_CONFIG_SEQ_PURCHASE_ORDER"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
                <field
            name="currency_symbol"
            type="text"
            label="COM_QUIPU_CONFIG_PARAM_CURRENCY_SYMBOL"
            descriptin="COM_QUIPU_CONFIG_PARAM_CURRENCY_SYMBOL_INFO"
            size="40"
            class="inputbox"
            default=""
            required="false"
		/>
            </fieldset>
            <!--
    <fieldset name="synchronization" label="COM_QUIPU_CONFIG_SYNC">
        <field
            name="sync"
            type="SYNCCOMPONENTS"
            label="COM_QUIPU_CONFIG_SYNC_LABEL"
            size="40"
            class="inputbox"
            default=""
            required="true"
		/>
    </fieldset>
    -->
</form>

